$primary-bg-color-1: #014E56;
$primary-bg-color-2: #012F34;
$primary-bg-color-3: #002529;
$contact-bg-secondary-text: #F67E7E;
$primary-text-color: #FFFFFF;
$bold-weight: 700;
$regular-weight:600;
.header-content {
    position: relative;
    padding-bottom: 12rem;
}

.header-text {
    display: flex;
    align-items: flex-start;
    padding-top: 12.5rem;
}

.main-title {
    color: $primary-text-color;
    font-size: 6.4rem;
    font-weight: $regular-weight;
    line-height: 10rem;
    // width: 35.5rem;
    margin: 0;
}

.header-des {
    color: $primary-text-color;
    font-size: 1.8rem;
    font-weight: $regular-weight;
    line-height: 2.8rem;
    margin-left: 20rem;
    margin-top: 4rem;
}

.hero-img {
    position: absolute;
    bottom: 100px;
    right: 0;
    padding: 0;
    background: url('../../images/about-hero-circle.svg');
    background-repeat: no-repeat;
    width: 20rem;
    height: 20rem;
    background-position: 80px 0;
}

.hr {
    position: absolute;
    background-color: $contact-bg-secondary-text;
    border: none;
    width: 5rem;
    top: 14rem;
    left: 48rem;
    height: .4rem;
}

.main-section {
    position: relative;
}

.directors-section {
    padding-top: 12rem;
    padding-bottom: 16.5rem;
    background-color: #004047;
    position: relative;
}

.direct-bg {
    background: url('../../images/directors-circle.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 20rem;
    height: 20rem;
    background-position: -110px 0;
}

.direct-bg-bottom {
    width: 15rem;
    height: 10rem;
    position: absolute;
    bottom: 0;
    right: 0;
    background: url('../../images/directors-rect.svg');
    background-repeat: no-repeat;
}

.direct-title {
    color: $primary-text-color;
    font-size: 4.8rem;
    font-weight: $bold-weight;
    line-height: 4.8rem;
    text-align: center;
    margin-bottom: 6.4rem;
}

.directors-list {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 350px);
    gap: 6.4rem 3rem;
}

.card {
    background-color: $primary-bg-color-2;
    width: 35rem;
    height: 25rem;
    text-align: center;
    padding-top: 3.2rem;
    img {
        border-radius: 50%;
    }
}

.direct-name {
    color: #79C8C7;
    font-size: 1.8rem;
    font-weight: $bold-weight;
    line-height: 2.8rem;
    margin: 0;
    margin-top: 1.6rem;
}

.direct-deg {
    font-size: 1.5rem;
    color: $primary-text-color;
    font-style: italic;
    font-weight: 500;
    line-height: 2.5rem;
    margin: 0;
}

.direct-quote {
    margin-top: 0.8rem;
    color: $primary-text-color;
    font-size: 1.5rem;
    font-weight: $regular-weight;
    line-height: 2.5rem;
}

.fa-solid {
    transform: translateY(2rem);
    padding: 2rem;
    border-radius: 50%;
    background-color: $contact-bg-secondary-text;
    transition: .3s ease;
    &:hover {
        background-color: #79C8C7;
    }
    cursor: pointer;
}

.aden {
    .fa-brands {
        color: $primary-text-color;
        margin-left: 1.6rem;
        transition: .3s ease;
        &:hover {
            color: $contact-bg-secondary-text;
        }
    }
}

.partners {
    padding-top: 12rem;
    padding-bottom: 15rem;
    background-color: $primary-bg-color-2;
    position: relative;
}

.part-title {
    color: $primary-text-color;
    font-size: 4.8rem;
    font-weight: $bold-weight;
    line-height: 4.8rem;
    text-align: center;
}

.part-list {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-top: 7rem;
}

.part-item {
    list-style: none;
}

.part-bg {
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../../images/clients-circle.svg');
}

@media (max-width:768px) {
    .header-text {
        flex-wrap: wrap;
        text-align: center;
        .hr {
            display: none;
        }
        .hero-img {
            bottom: 0;
            right: 0;
        }
        .main-title {
            margin-left: auto;
            margin-right: auto;
        }
        .header-des {
            margin-left: 0;
            margin-top: 2.4rem;
        }
    }
    .directors-list {
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
        .card {
            width: 25rem;
        }
        // justify-items: center;
        // align-items: center;
        place-items: center;
        gap: 7.6rem 1.1rem;
    }
}

@media (max-width:400px) {
    .part-list {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .part-item {
        margin-top: 5rem;
    }
    .part-bg {
        background-position: (-100px, 200px);
        background-repeat: no-repeat;
    }
}